@import "tailwindcss";

:root {
    --background: #010001;

    /*custom ease-in-out function*/
    --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
